@model ET.Contacto
@{
    ViewBag.Title = "Editar";
    List<ET.Contacto> contactos = ViewBag.Contactos;
}
            <div class="container-fluid">
                <h2>@(Model.Id_Contacto > 0 ? Model.Nombre + " " + Model.Apellido1 : "Nuevo contacto")</h2>


                @using (Html.BeginForm("guardar", "contacto", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Id_Contacto)

                    <label>Nombre</label><br />
                    @Html.TextBoxFor(x => x.Nombre)
                    <br /><br />

                    <label>Primer Apellido</label><br />
                    @Html.TextBoxFor(x => x.Apellido1)
                    <br /><br />

                    <label>Segundo Apellido</label><br />
                    @Html.TextBoxFor(x => x.Apellido2)
                    <br /><br />

                    <label>Puesto</label><br />
                    @Html.TextBoxFor(x => x.Puesto)
                    <br /><br />

                    <label>Empresa</label><br />
                    @Html.TextBoxFor(x => x.Empresa)
                    <br /><br />

                    @*<label>Rol</label><br />*@
                    @*<select name="Rol_id">
                @foreach (var r in roles)
                {
                    <option @(r.Id_Rol == Model.Rol_id ? "selected" : "") value="@r.Id_Rol">@r.Nombre</option>
                }
            </select>*@
                    <br /><br />

                    <button type="submit">Enviar</button>
                }
            </div>
        <!-- /.container-fluid -->
        <!-- Sticky Footer -->
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Demo scripts for this page-->
    <script src="js/demo/datatables-demo.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>

